name: Spring Boot Backend CI/CD Pipeline (ECS)

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the code
    - name: Checkout code
      uses: actions/checkout@v2

    # Step 2: Set up Java and Maven
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'zulu'

    # Step 3: Build the application
    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Change to your AWS region

    # Step 4: Build and push Docker image to Amazon ECR
    - name: Log in to Amazon ECR
      run: |
        aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY_URL }}

    - name: Build Docker image
      run: docker build -t spring-boot-app .

    - name: Tag Docker image
      run: docker tag spring-boot-app:latest ${{ secrets.ECR_REGISTRY_URL }}/spring-boot-app:latest

    - name: Push Docker image to ECR
      run: docker push ${{ secrets.ECR_REGISTRY_URL }}:latest

    # Step 5: Update ECS Service with the new image
    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster my-ecs-cluster-al \
          --service spring-boot-backend-service \
          --force-new-deployment
